<span style='color: #000'>73 frames</span>	<span style='color: #900'>7,936 KB</span>	<span style='color: #090'>946.04 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />