@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face
    font-family: 'Lobster-regular';
    src: url('lobster_1.3-webfont.woff2') format('woff2'),
         url('lobster_1.3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
@font-face
    font-family: 'kg_miss_kindergartenregular';
    src: url('kgmisskindergarten-webfont.woff2') format('woff2'),
         url('kgmisskindergarten-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
@font-face
    font-family: 'icomoon';
    src:  url('icomoon.eot?fpxdyc');
    src:  url('icomoon.eot?fpxdyc#iefix') format('embedded-opentype'),
    url('icomoon.ttf?fpxdyc') format('truetype'),
    url('icomoon.woff?fpxdyc') format('woff'),
    url('icomoon.svg?fpxdyc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  text-align: center

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale



.icon-durmiendo:before {
  content: "\e909";
}
.icon-choreo:before {
  content: "\e90a";
}
.icon-bolsa:before {
  content: "\e90b";
}
.icon-campana:before {
  content: "\e90c";
}
.icon-hombre:before {
  content: "\e90d";
}
.icon-caminando:before {
  content: "\e90d";
}

.icon-perchero:before {
  content: "\e90e";
}
.icon-punto:before {
  content: "\e90f";
}
.icon-recomendacion:before {
  content: "\e910";
}
.icon-taza:before {
  content: "\e911";
}
.icon-bolsa2:before {
  content: "\e912";
}
.icon-campana2:before {
  content: "\e913";
}
.icon-durmiendo2:before {
  content: "\e914";
}
.icon-fiesta .path1:before {
  content: "\e915";
  color: rgb(0, 0, 0);
}
.icon-fiesta .path2:before {
  content: "\e916";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path3:before {
  content: "\e917";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path4:before {
  content: "\e918";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path5:before {
  content: "\e919";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path6:before {
  content: "\e91a";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path7:before {
  content: "\e91b";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path8:before {
  content: "\e91c";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path9:before {
  content: "\e91d";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path10:before {
  content: "\e91e";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path11:before {
  content: "\e91f";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path12:before {
  content: "\e920";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path13:before {
  content: "\e921";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path14:before {
  content: "\e922";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path15:before {
  content: "\e923";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path16:before {
  content: "\e924";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path17:before {
  content: "\e925";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path18:before {
  content: "\e926";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path19:before {
  content: "\e927";
  margin-left: -1.0078125em;
  color: rgb(0, 0, 0);
}
.icon-fiesta .path20:before {
  content: "\e928";
  margin-left: -1.0078125em;
  color: rgb(255, 255, 255);
}
.icon-fiesta .path21:before {
  content: "\e929";
  margin-left: -1.0078125em;
  color: rgb(255, 255, 255);
}
.icon-grupo:before {
  content: "\e92a";
}
.icon-montanas:before {
  content: "\e92b";
}
.icon-sol:before {
  content: "\e92c";
}
.icon-tarjeta:before {
  content: "\e92d";
}
.icon-taza2:before {
  content: "\e92e";
}
.icon-emergencia:before {
  content: "\e907";
}
.icon-imagenes:before {
  content: "\e908";
}
.icon-agenda:before {
  content: "\e900";
}
.icon-destino:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-hotel:before {
  content: "\e903";
}
.icon-participantes:before {
  content: "\e904";
}
.icon-recomendaciones:before {
  content: "\e905";
}
.icon-vuelo:before {
  content: "\e906";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-sun:before {
  content: "\e9d4";
}

html,
body
    margin 0
    padding 0
    position relative
    overflow hidden
    width 100%
    height 100%
.mCSB_dragger_bar
    background-color #FFCD00 !important
    width 10px !important
.mCSB_draggerRail, .mCSB_draggerContainer, .mCSB_dragger, .mCSB_scrollTools
    width 10px !important
.intro
    background url('../images/gradient.png') repeat bottom rgb(51, 51, 51)
    background-size 100% auto
    opacity 0.7
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
    width 100%
    height 900px
    content ''
    top 0
    bottom 0
    z-index -1
    position absolute
.iconos_footer
    a
        font-size 20px
        color #fff
        vertical-align middle
        margin 0 12px
        display: inline-block

.introdemo
    font-family 'kg_miss_kindergartenregular'
    font-size 21px
    color #fff
    .text
        text-align center
        width 100%
        margin 50px auto
        p
            text-align center
            margin 25px 0
    .logotipo

        width 200px
        height 80px
        margin 0 auto
    h1
        font-family 'Lobster-regular', cursive
        font-size 50px
        margin-top 50px
        color #fff
    button,
    .btn-intro
        background-color #e81a4a
        border 0
        color #fff !important
        padding 8px 30px
        font-size 18px
        border-radius: 8px
.int
    width 80%
    display block
    position relative
    top 50px
    left 0
    right 0
    margin-left auto
    margin-right auto
    font-size 16px
    input[type="text"]
        color #000
.login
    width 500px
    margin 60px auto 0 auto
    text-align center
    .header
        height 40px
        background-color #3185d7
    .content
        display block
        background-color #004c96
        text-align center
        width 100%
        overflow hidden
        color #fff
        border-radius 0 0 15px 15px
        p
            width 90%
            margin 18px auto
            text-align center
        input[type="text"]
            width 100%

.btnyellow
    font-size 24px !important
    background-color #FFCD00
    color #004c96
    padding 8px 25px
    border 0
    border-radius 4px 4px 4px 4px

.page-content
    position relative
    font-family 'Lobster-regular', cursive
    margin-left auto
    margin-right auto
    color #fff
    z-index 100
    width 100%
    padding-top 20px
    h1
        font-family 'Lobster-regular', cursive
        font-size 50px
        padding 0
        margin 13px 0
    .logo_empresa
        width 100%
        display inline-block
        height height
    .footerdiv
        display block
        width 100%
        padding-top 20px
        a.tel
            color #fff
            margin-left 12px

    .logotipo
        display inline-block
        height 90px
        font-size 20px
.menu
    background-color #002D74
    margin-bottom 20px
    font-size 18px
    font-family 'kg_miss_kindergartenregular'
    height 98px
    span
        font-size 38px
        clear both
        display block
        margin-bottom 12px
    ul
        margin 0
        padding 0
        list-style none
        list-style-type none
    li.ultimo
        border 0
        font-size 72px
        line-height 72px
        color #1d8aea
        text-align center
        vertical-align
        margin 0
        width 10%
        padding 0
        height 98px
        cursor pointer
        float left
        margin 0
    li:hover, li.active
        background-color #FFCD00
        cursor pointer
    li
        float left
        text-align center
        padding 12px 2.4%
        position relative
        border-right 1px #999900 solid
        list-style none
        list-style-type none
        cursor pointer
        a:hover
          text-decoration none
        span
          text-decoration none
          a
            text-decoration none
        li:active
            color #FFCD00
            text-align left
        a
            color #ffff
            font-size 18px
            display block
            width 100%
            text-align center
        img
            display block
            margin 0 auto 8px auto
            clear both
            text-decoration none
            z-index 100
            fill #1d8aea !important
        li:hover
            background-color #FFCD00 !important
            a:hover
                background-color #FFCD00 !important
            span
              text-decoration none
        li.ultimo
            width 100%
            text-align left
        li.active
            background-color #FFCD00 !important
            text-align left
            a
                background-color #FFCD00 !important
                text-align left
        li
            text-align left
            width 100%
            display block
            padding 12px
            a
                text-align left
                padding 12px
    .ht
        font-size 50px
        vertical-align top
        padding-top 15px
    .dropdown-menu
        background-color #002D74
        li
            padding 0
            margin 0
            border 0
.divtransparent
    position relative
    font-size 18px
    font-family 'kg_miss_kindergartenregular'
    font-weight bold
    overflow hidden
.divtransparent:before
    z-index -1
    content ''
    position absolute
    opacity 0.1
    background-color #fff
    width 100%
    height 100%
.agendatxt
   font-size 16px
#titulo
    font-size 24px
#titulo_fecha
    font-size 20px
.inicio
    text-align left
    padding 30px
    margin-left 20px
    overflow hidden
    .col-md-3
        padding 20px
    span
        font-size 42px
        vertical-align middle
    a
        color #fff
        font-size 16px
        text-decoration none
        cursor pointer
        img
            display inline-block

    .col-md-6, .col-md-4
        text-align left
    .col-md-6:hover, .col-md-4:hover
        opacity 0.8
.destino
    padding 20px
    font-size 14px
    font-family 'kg_miss_kindergartenregular'
    a
        color #ffcd00
    strong
        color #002D74
        font-size 14px
        font-family 'kg_miss_kindergartenregular'
    p
      margin-right 40px
.vuelos
    padding 20px 20px 20px 20px
    font-size 14px
    font-family 'kg_miss_kindergartenregular'
    .fecha
        display none
        font-size 18px
    .first
        .fecha
            display block
            margin-bottom 40px
    .vuelotop
        margin-bottom 50px
    td
        vertical-align top
        img
            float left
            margin-right 12px
    .fecha
        margin-left 0
        margin-top 8px
    .icon
        float left
    h1,h3
        font-family 'kg_miss_kindergartenregular'
        float left
        vertical-align baseline
        margin 0
    p
        text-align center
        width 100%

    strong
        color #fff
        font-size 14px
        font-family 'kg_miss_kindergartenregular'
        margin 18px 0
        clear both
    img
        margin-right 12px
    .detalles
        margin-top 0
        text-align center
        margin-bottom 20px
    span
        background-color #ffcd00
        padding 6px 25px
        color #fff !important
        border-radius 8px
        margin 12px auto
.agenda
    padding 20px 20px 20px 20px
    font-size 14px
    font-family 'kg_miss_kindergartenregular'
    i
        font-size 20px
        float left
    table
        margin 40px 0
    td:first-child
        border-right 1px #002D74 dashed
    td
        vertical-align top
        padding 20px
        img
            display inline-block
            margin-right 12px
        span
            display inline-block
            background-color none
            padding 0
            margin 0
    .fecha

        margin-top 8px
    .cronograma
        min-width 90px
        text-align center
    .icon
        float left
    h1,h3
        font-family 'kg_miss_kindergartenregular'
        text-align center
        vertical-align baseline
        margin 0
    p
        text-align center
        width 100%
    strong
        color #002D74
        font-size 14px
        font-family 'kg_miss_kindergartenregular'
    img
        margin-right 12px
    .detalles
        margin-top 40px
.participantes
    padding 20px 20px 20px 20px
    font-size 14px
    font-family 'kg_miss_kindergartenregular'
    ul
        list-style-type none
        li
            vertical-align top
            display: inline-block
            width: 30%
.recomendaciones
    padding 20px 20px 20px 20px
    font-size 14px
    font-family 'kg_miss_kindergartenregular'
    .mCSB_container
      .row
        margin-right 40px
    i
        font-size 20px
        float left
        margin-right 12px
    .item
        padding 0
        .title
            display block
            width 100%
            clear both
            margin-bottom 0
            min-height 30px
            margin-left 25px
            position relative
            //white-space: pre-line
            .icon-recomendacion
                margin-left -25px
                position absolute
                left 0
                top 0
              //float: left
        .text
            margin-top 18px
            display block
            width 100%
            clear both
    img.icon
        float left
        margin-right 12px
    img
        display inline-block
    h1,h3
        font-family 'kg_miss_kindergartenregular'
        float left
        vertical-align baseline
        margin 0
        display inline-block
.emergencia
    padding 20px 20px 20px 20px
    font-size 14px
    font-family 'kg_miss_kindergartenregular'
    p
        margin-left 20px
    .mCSB_container
      .row
        margin-right 40px
.imagenes
    padding 20px 20px 20px 20px
    font-size 14px
    font-family 'kg_miss_kindergartenregular'
@media (max-width: 1400px)
    .menu
        li.ultimo
            margin: 0

@media (max-width: 900px)
  .menu
      li
        font-size 14px
        img
            height 20px
        a
            font-size 14px


#login
  background-image: url('../images/bg_login.jpg')
  background-size: cover
  background-position: center center
  height: 100%

  .int
    top: 0

    .logo
      text-align: center

    .login
      margin-top: 130px

      .header
        font-family: 'Roboto', sans-serif;
        background-color: #e81b50
        color: #fff
        margin-bottom: 15px
        height: auto
        padding: 15px
        text-align: center
        text-transform: uppercase

      .content
        background-color: #fff
        border-radius: 0

        input[type="text"],
        input[type="text"]:hover,
        input[type="text"]:focus
          background-color: #d5d5d5
          border: 1px solid #d5d5d5
          color: #000
          height: 34px
          padding: 6px 12px

        button[type="submit"]
          font-family: 'Roboto', sans-serif;
          font-weight: 300
          background-color: #61514d
          border: 1px solid #61514d
          color: #fff
          border-radius: 0
          padding: 6px 60px

@css {
    .scrollbar {
        padding-left: 15px;
        padding-right: 15px;
        height: 270px;
        width: 100%;
        background: transparent;
        overflow-y: scroll;
    }
    .force-overflow {
        min-height: auto;
    }
    #style-3::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0.4);
    }
    #style-3::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(0,0,0,0.4);
    }
    #style-3::-webkit-scrollbar-thumb {
        background-color: #ffcd00;
    }
}

#tab-page-content
    padding-top 20px
    .nav-tabs
        background-color #e81a4a
        border-bottom 0
        width 997px
        margin 0 auto
        li
            min-width 120px
            margin-bottom 0
            a
                background-color rgb(232, 26, 74)
                color #fff
                border-radius 0
                border-color #990
                border-width 0 1px 0 1px
                font-family 'kg_miss_kindergartenregular'
                text-align center
                margin-right -1px
                span
                    font-size 38px
                    display block
                    margin-bottom 10px
        .active
            a
                background-color #ffcd00
                color rgba(0,0,0,.85)
        .dropdown-menu
            background-color #e81a4a
            margin-top 0
            li
                a
                    background-color rgb(232, 26, 74)
                    color #fff
                    border 0
                    margin-right 0
                    padding 10px
            .active
                a
                    background-color #ffcd00
                    color rgba(0,0,0,.85)
    .tab-content
        font-family 'kg_miss_kindergartenregular'
        background-color rgba(255,255,255,.1)
        margin-top 20px
        padding 20px
        #inicio
            padding 20px 0
            a
                position relative
                padding-left 70px
                font-size 16px
                color #fff
                text-decoration none
                line-height 60px
                span
                    position absolute
                    top -12px
                    left 0
                    font-size 42px
                    color rgba(232,26,74,.75)
                    width 60px
                    text-align center
                &:hover
                    span
                        color rgba(232,26,74,1)
        #agenda
            .agenda-title
                position relative
                padding-left 40px
                margin-bottom 20px
                span
                    position absolute
                    top 0
                    left 0
                    font-size 25px
                    color #e81a4a
            .agenda-horario
                margin-left 40px
                margin-bottom 30px
                font-size 16px
                i
                    color #e81a4a
        #participantes
            .participantes-lista
                i
                    color #e81a4a
        #recomendacion
            .text
                position relative
                padding-left 30px
                margin-bottom 15px
                i
                    position absolute
                    top 2px
                    font-size 16px
                    left 0
                    color #e81a4a
        #vuelos
            .item-ida
                h3
                    font-weight bold
                    margin-bottom 40px
                .detalles
                    p
                        strong
                            font-family 'kg_miss_kindergartenregular' !important
                    .bag
                        background-color #e81a4a
                        color #fff
                        padding 5px 15px
                        border-radius 5px
        .text
            p
                color #fff !important

.footer
    padding-top 30px
    a
        color #fff
        text-decoration none
        font-size 20px
        display inline-block
        margin-left 10px
